.container-home{
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    gap: 40px;
    background-image: url("../../assets/Veterinario/logoHome_veterinario.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.container-info{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 70px;
    padding-bottom: 140px;
    background-color: rgba(94, 65, 47, .4);
    backdrop-filter: blur(2px);
    padding: 100px;
    border-radius: 20px;


}
.container-info h1{
    font-size: 65px;
    color: #fff;
    font-weight: bold;
    
}
.container-opciones{
    margin-top: 15px;
    position: relative;
    margin-left: 800px;
}
.container-opciones h2{
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.container-desplegables{

    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: .4s;
    padding: 0 30px;
}


/* Desplegables */
.desplegable-registrar{
    margin-top: 15px;
    cursor: pointer;
}
.desplegable-consultar{
    margin-top: 15px;
    cursor: pointer;
}
.desplegable-actualizar{
    margin-top: 15px;
    cursor: pointer;
}


/* Aplicando el before *//* 
.desplegable-registrar::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    transform: translateY(-50%) scaleX(0);
    transform-origin: left;
    height: 2px;
    width: 29%;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;

}
.desplegable-registrar:hover::before{
    transform: translateY(-50%) scale(1);
    
}
.desplegable-consultar::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 100px;
    transform: translateY(-50%) scaleX(0);
    transform-origin: left;
    height: 2px;
    width: 30%;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
}
.desplegable-consultar:hover::before{
    transform: translateY(-50%) scale(1);

}
.desplegable-actualizar::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 202px;
    transform: translateY(-50%) scaleX(0);
    transform-origin: left;
    height: 2px;
    width: 30%;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
}
.desplegable-actualizar:hover::before{
    transform: translateY(-50%) scale(1);
    
} */
/* Opciones */
.opciones-registrar{
    font-size: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    margin-left: 70px;
    background-color:#434f54;
    padding: 4px;
    opacity: 1px;
    color: #fff;
    border-radius:10px;
}
.opciones-consultar{
    font-size: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-top: 5px;
    margin-left: 70px;
    background-color:#434f54;
    opacity: 1px;
    padding: 4px;
    color: #fff;
    width: 200px;
    border-radius:10px;

}
.opciones-actualizar{
    font-size: 18px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-top: 5px;
    margin-left: 35px;
    background-color:#434f54;
    opacity: 1px;
    padding: 4px 6px;
    color: #fff;
    width: 200px;
    border-radius:10px;

}
/* Contenedor configuracion */
.content-Settings{
    position: absolute;
    margin-top: -90px;
    margin-left: -870px;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4) /* Opacidad al 100% */
    ;
    padding: 4px;
    border-radius: 10px;
    color: #eff;
}
.icon-settings{
    font-size: 40px;
    cursor: pointer;
}
/* contenedor de opciones de configuracion */
.opc-settings{
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}
.user-Settings{
    font-size: 30px;
    color: #c5bfbf;
    cursor: pointer;
}

.form-update-veterinario{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: -110px 50px 50px 100px;
    padding: 20px;
    width: 300px;
    background-color:rgba(189, 189, 189, .2)
    ;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border:2px solid #c5bfbf;
}
.form-update-veterinario h2{
    color: black;
}

.form-update-veterinario > *:not(label) {
    align-self: center;
}
.form-update-veterinario label{ 
    margin: 15px 0 4px 20px;
    color: #efefef;
    font-weight: bold;
}

.input-update{
    border: none;
    outline: none;
    border-radius:20px;
    padding: 6px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 210px;
    height: 35px;
    padding-left: 10px;
    color: #fff;
}
/* inputs predefinidos */
.inputs-prohividos{
    color:#bdbdbd ;
}


.input-update::placeholder{
    color: rgba(0, 0, 0, 0.3);
}
.btn-update{
    border: 1px solid #fff;
    margin: 24px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #dcdcdc;
    padding: 5px;
    border-radius: 5px;
    transition: .7s;
}
.btn-update:hover{
    cursor: pointer;
    background-color: #525252;
    color: #fff;
    font-weight: bold;
}