
*{
    list-style: none;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /* background-color: #499fc3; */
    background-color: #001;
    padding:13px;
    gap: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 4px;
    color: wheat;
}

.proyect h2{
    color: white;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.proyect p{
    margin-left: 18px;
}
.authors{
    align-items: center;
}
.authors h2{
    color:#295975 ;
    letter-spacing: 1.5px;
}

.authors ul{
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: #295975;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: .3px;
}
.authors ul li:not(:last-child)::after{
    content: "|";
    color: #fff;
    font-size: 800;
    margin-left: 8px;
    margin-right: 0px;
}

.authors ul li a{
    text-decoration: none;
    color: #fff;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.redes h2{
    display: none;
    color:#6182d0 ;
    letter-spacing: 1.5px;
    
}
.redes ul{
    display: flex;
    flex-direction: row;
    gap: 35px;

}
.link a{
    letter-spacing: 1px;
    font-weight: 550;
    text-decoration: none;
}

/* ICONOS */
.icon-pets{
    color:#7d3711;
}
.icon{
    font-size:40px;
    border: 2px solid;
    padding: 5px;
    border-radius: 30px;
}
.tiktok{
    color: #ffcf;
}
.github{
    color: #fff;

}
.facebook{
    color: #48e;

}
.whatsaap{
    color: #99d665;
}

.div-ubicacion {
    padding: 4px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.div-ubicacion p{
    color: #295975;
    font-size: 15px;
}

.icon-ubicacion{
    color: #48e;
    font-size:30px;
}