/* Estilos para el nav */
nav {
    top: 0;
    left: 0;
    z-index: 1000;
    position: sticky;
    background-image: linear-gradient(90deg, #49e, #fdff); /* Color de fondo */
    padding: 15px; /* Espaciado interno */
    display: flex; /* Alineación horizontal de los enlaces */
    align-items: center;
    justify-content: space-between; /* Centra los enlaces en el nav */

}
.container-avatars{
    margin-left: 90px;
    gap: 25px;
}
.logocentral{
    width: 65px;
    height: auto;
    border-radius: 30px;
}
.container-opc{
    margin-right: 65px;
    gap: 20px;

}
/* Estilos para los enlaces */
.opc{
    margin-left: 30px;
    color: #111; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
    font-size: 50px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease; /* Transición suave */

}

.opc:hover{
    transform: scale(1.3); /* Efecto de agrandamiento */
}
.home:hover{
    color: #48e;
}
.about:hover{
    color: yellow;
}
.login:hover{
    color: #44ee;
}
.logout:hover{
    color: red;
}
.home-veterinario:hover{
    color: #ff9f65;
}
.avatar {
    width: 70px !important;
    height: 70px !important;
    transition: color 0.3s ease, transform 0.3s ease; /* Transición suave */
}
.avatar:hover {
    cursor: pointer;
    transform: scale(1.3);
}

/* Para pantallas pequeñas */
@media (max-width: 600px) {
    nav {
        flex-direction: column; /* Alinea los enlaces verticalmente */
        align-items: center;
        gap: 10px; /* Espaciado más pequeño entre enlaces */
    }
}


