.DivOpciones{
    width: 300px;
    margin:0  auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 10%;
}

.Btn{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    padding: 5px;
}

.BRegister{
    background-color: #679999;
    color: #fff;
}
.BLogin{
    background-color: #364242;
    color: aliceblue;
}

