.container-form-register-visit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 80px;
}